/* Orders Page Layout */
.orders-page {
    padding: 40px;
    max-width: 1800px;
    margin: 0 auto;
}

/* Order Detail Labels */
.order-labels {
    display: grid;
    grid-template-columns: 1.7fr 2.4fr 2.8fr 3fr 1.5fr 1.05fr;
    gap: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 2px solid #e96709;
    text-align: left;
}

.order-labels span {
    font-size: 1.6rem;
}

/* Order Cards Layout */
.order-cards-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Individual Order Card Styling */
.order-card {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr 3fr 3fr 1.5fr 1fr;
    gap: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Order Card Hover Effect */
.order-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Order Card Details */
.order-detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 0;
    font-size: 1.4rem;
}

/* Status Colors */
.status-shipped {
    color: rgb(36, 36, 194);
    font-weight: bold;
}

.status-pending {
    color: rgba(255, 123, 0, 0.685);
    font-weight: bold;
}

.status-delivered {
    color: rgb(34, 197, 34);
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .order-labels, .order-card {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .order-detail {
        font-size: 14px;
    }
}
