.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.pagination-btn {
    padding: 1.2rem 2rem;
    background-color: #1d1d1d;
    color: #e96709;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
}

.pagination-btn:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

.page-numbers {
    display: flex;
    gap: 0.5rem;
}

.page-number {
    padding: 1.2rem 2rem;
    background-color: white;
    color: #e96709;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.5rem;
}

.page-number:hover {
    background-color: #f0f0f0;
}

.page-number.active {
    background-color: #e96709;
    color: black;
    border: none;
}
