.category-separator {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap: 5rem;
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
    margin-top: -4rem;
    margin-bottom: 4rem;
    padding: 3rem 10rem;
    align-items: center;
    justify-content: center;
    z-index: 4;
    margin-left: 5rem;
    margin-right: 5rem;
}

.category-card {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    border-right: 2px solid #f5f5f5;
    transition: all 0.3s ease;
    cursor: pointer;
}

.category-card:last-child {
    border-right: none;
}

.category-card:hover {
    color: #E39A66;
}

.icon {
    font-size: 5rem;
    height: 50px;
    width: 50px;
}

.icon img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.category-desc {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.category-name {
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 1.1;
}

.item-qty {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
}
