.top-choices {
  display: flex;
  margin-bottom: 10rem;
  justify-content: space-between;
}

.top-choices.reverse-layout {
  flex-direction: row-reverse;
}

.top-choices .bg-image,
.top-choices .top-products-container {
  flex: 1;
}

.top-choices .bg-image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  max-width: 40%;
  max-height: 800px;
  position: relative;
}

.top-choices .top-products-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-choices .top-products-container .text-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
  position: relative;
}

.top-choices.reverse-layout .top-products-container .text-field {
  align-items: flex-end;
}

.top-choices .top-products-container .text-field .heading,
.top-choices .top-products-container .text-field .subheading {
  padding-left: 6rem;
}

.top-choices.reverse-layout .top-products-container .text-field .heading,
.top-choices.reverse-layout .top-products-container .text-field .subheading {
  padding-right: 6rem;
}

.top-choices .top-products-container .text-field .heading {
  position: relative;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 4.8rem;
  color: var(--whitesmoke);
  font-weight: 700;
  text-transform: uppercase;
}

.top-choices .top-products-container .text-field .subheading {
  position: absolute;
  top: 60%;
  margin-left: 1rem;
  font-size: 2rem;
  letter-spacing: 2px;
  color: var(--black);
  font-weight: 200;
  text-transform: uppercase;
}

.top-choices .grid-container {
  padding: 0 6rem 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: stretch;
}

.grid-container .product-card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid var(--whitesmoke);
  max-width: 30rem;
  height: 100%;
  transition: 0.3s;
}

.grid-container .product-card .details .loop-btn .option-btn {
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1rem;
  color: var(--white);
  background-color: var(--main-color);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.grid-container .product-card .details .loop-btn .option-btn:hover {
  background-color: var(--secondary-color);
}

.grid-container .product-card:hover .details .loop-btn .option-btn {
  transform: translateY(-100%);
  opacity: 1;
}

.grid-container .product-card .details .loop-btn .heart-icon-tc {
  position: absolute;
  top: 80%;
  right: 0;
  opacity: 0;
  font-size: 2rem;
  color: red;
  cursor: pointer;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.grid-container .product-card:hover .details .loop-btn .heart-icon-tc {
  transform: translateY(-100%);
  opacity: 1;
}

.grid-container .product-card .details .loop-btn .heart-icon-tc:hover {
  color: var(--red);
}

.top-choices .button-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 7rem;
}

.top-choices.reverse-layout .button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 7rem;
}

.top-choices .button-container .btn-text {
  font-size: 1.3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--black);
  padding: 1rem 1.5rem;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  transition: 0.3s;
}

.top-choices .button-container .btn-text:hover {
  color: var(--white);
  background-color: var(--main-color);
}

@media (max-width: 1024px) {
  .top-choices .bg-image {
    max-width: 42%;
    max-height: 1200px;
  }

  .top-choices .grid-container {
    grid-template-columns: repeat(auto-fit, calc(50%));
  }
}

@media (max-width: 991px) {
  .top-choices .top-products-container .text-field,
  .top-choices.reverse-layout .top-products-container .text-field {
    display: flex;
    padding: 0;
    margin-bottom: 3rem;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .top-choices .top-products-container .text-field .heading,
  .top-choices .top-products-container .text-field .subheading {
    padding: 0;
    margin: 0;
  }

  .top-choices.reverse-layout .top-products-container .text-field .heading,
  .top-choices.reverse-layout .top-products-container .text-field .subheading {
    padding: 0;
    margin: 0;
  }

  .top-choices .top-products-container {
    width: 100%;
  }

  .top-choices .bg-image {
    display: none;
  }

  .top-choices .grid-container {
    padding: 0 2rem 5rem;
    grid-template-columns: repeat(auto-fit, 28rem);
  }

  .top-choices .top-products-container .button-container,
  .top-choices.reverse-layout .top-products-container .button-container {
    display: flex;
    justify-content: center;
    margin: 0;
  }
}